@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.web-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
}
.btn-shadow {
    padding: .5rem 1.3rem;
    filter: drop-shadow(0.20rem 0.20rem 0.4rem rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(0.20rem 0.20rem 0.4rem rgba(0, 0, 0, 0.5));
}
.web-gardient {
    background: linear-gradient(#7531FA, #4c92f6)
}
.web-text-color {
    color: $primary-text-color;
}
.web-btn {
    background-color: #2669ea;
}
.web-btn:hover {
    background-color: #2669ea;
}
.web-text-color:hover {
    color: $primary-text-color;
}
.web-gray {
    color: gray;
}
.web-footer-color {
    color: #869fb2;
}
.web-footer-color:hover {
    color: white;
}
.web-text-black {
    color: #374957;
}
.web-keyword-btn {
    border: 2px solid #2669ea;
    color: #2669ea;
}
.web-keyword-btn:hover {
    border: 2px solid #2669ea;
    color: #fff;
    background-color: #2669ea;
}
.serch-header-color {
    color: #a5b7c6;
}
.serch-header-color:hover {
    color: #fff;
}
.category-btn {
    border: 2px solid #a5b7c6;
    color: $web_gray;
}
.category-btn.active {
    border: 2px solid #2669ea;
    color: white;
    background-color: #2669ea;
}
.category-btn.active:hover {
    border: 2px solid #2669ea;
    color: white;
    background-color: #2669ea;
}
.category-btn:hover {
    border: 2px solid #a5b7c6;
    color: $web_gray;
}

